## Question 1

In [1]:
# The following is the list of 10 student ages

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sorting the list and finding the minimum and maximum ages

ages.sort()
Minimum_age = min(ages)
Maximum_age = max(ages)

# Printing sorted list of ages

print("The sorted list of ages is:",ages)

# Printing minimum age from ages list after sorting

print("From list ages minimum age is :",Minimum_age)

# Printing maximum age from ages list after sorting

print("From list ages maximum age is :",Maximum_age)

# Adding minimum and maximum age to the list again

ages.append(Minimum_age)
ages.append(Maximum_age)
print(ages)

#Finding the median age in the list ages using statistics library

import statistics
print("The median age in the list of ages is:",statistics.median(ages))

# Finding the average age

average_age = sum(ages) / len(ages)
print("The average age of the students is: ", average_age)

# Finding the range of the ages

range = Maximum_age - Minimum_age
print("The range of the ages is:", range)

The sorted list of ages is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
From list ages minimum age is : 19
From list ages maximum age is : 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
The median age in the list of ages is: 24.0
The average age of the students is:  22.75
The range of the ages is: 7

## Question 2

In [2]:
# Create an empty dictionary dog

dog = {}
print("The dictionary is: ", dog)

# Adding up keys and value to the "DOG" dictionary

dog = {'Name':'Sherin', 'Color':'White', 'Breed':'Laborador', 'age': 3,'legs': 4}
print("DOG = ", dog)

#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

student = {'First_Name':'Amey', 'Last_Name':'Sawant', 'Gender':'Male', 'age': 22, 'Marital Status': 'Single',
           'Skills':'Python', 'Country':'USA', 'City':'Warrensburg', 'Address': '115 Broad Street'}
print("STUDENT = ", student)

#Getting the length of the student dictionary

print(len(student))

# By using get method we are getting value by using key

print( "Skills value is: " ,student.get('Skills')) 
studentList = list(student)  
# printing type 
print("Type of student list: ",type(studentList))

#Modifying the skills values 

student.update({'Skills' : 'Java'})
print("STUDENT", student)

#Getting the dictionary keys as a list

print(student.keys())

#Getting the dictionary values as a list

print(student.values())

The dictionary is:  {}
DOG =  {'Name': 'Sherin', 'Color': 'White', 'Breed': 'Laborador', 'age': 3, 'legs': 4}
STUDENT =  {'First_Name': 'Amey', 'Last_Name': 'Sawant', 'Gender': 'Male', 'age': 22, 'Marital Status': 'Single', 'Skills': 'Python', 'Country': 'USA', 'City': 'Warrensburg', 'Address': '115 Broad Street'}
9
Skills value is:  Python
Type of student list:  <class 'list'>
STUDENT {'First_Name': 'Amey', 'Last_Name': 'Sawant', 'Gender': 'Male', 'age': 22, 'Marital Status': 'Single', 'Skills': 'Java', 'Country': 'USA', 'City': 'Warrensburg', 'Address': '115 Broad Street'}
dict_keys(['First_Name', 'Last_Name', 'Gender', 'age', 'Marital Status', 'Skills', 'Country', 'City', 'Address'])
dict_values(['Amey', 'Sawant', 'Male', 22, 'Single', 'Java', 'USA', 'Warrensburg', '115 Broad Street'])

## Question 3

In [3]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
Brother_names = ('Anay' , 'Andy')
Sister_names = ('Pratiksha' , 'Anjali')

#Join brothers and sisters tuples and assign it to siblings

Siblings = (Brother_names + Sister_names);
print(Siblings)

# Number of sibilings

number_of_sibilings = len(Siblings)
print("Number of siblings are ", number_of_sibilings)

Tuple_1 = ('Ashok', 'Anita')
Family_members = (Siblings + Tuple_1)

print("Family members are: ", Family_members)

('Anay', 'Andy', 'Pratiksha', 'Anjali')
Number of siblings are  4
Family members are:  ('Anay', 'Andy', 'Pratiksha', 'Anjali', 'Ashok', 'Anita')

## Question 4

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies

len(it_companies)

# Adding twiter to IT_Companies
it_companies.add('Twitter')
print("After adding Twitter the updated set is ", it_companies)

#Inserting multiple IT companies at once to the set it_companies

Companies = ('Accenture' , 'Dell' , 'Infosys')
it_companies.update(Companies)
print(it_companies)

#Removing one of the companies from the set it_companies

it_companies.remove('Accenture')
print(it_companies)

After adding Twitter the updated set is  {'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Twitter', 'IBM', 'Oracle', 'Google'}
{'Facebook', 'Accenture', 'Oracle', 'Google', 'Infosys', 'Apple', 'Dell', 'IBM', 'Twitter', 'Amazon', 'Microsoft'}
{'Facebook', 'Oracle', 'Google', 'Infosys', 'Apple', 'Dell', 'IBM', 'Twitter', 'Amazon', 'Microsoft'}

### What is the difference between remove and discard?

Answer: Both the methods are used to remove an item from the set. The only difference is that the remove method will raise an error if the specified item does not exist, and the discard method will not.

In [5]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Joining both a and b by using union operator
C = A.union(B)
print("Value of C is:", C)

# Finding the intersection of A and B
print("A intersection B is:", A.intersection(B))

#Finding if A is a subset of B
print("Is A subset of B: ", A.issubset(B))

#Finding if A and B are disjoint sets
print("Are A and B disjoint sets: ", A.isdisjoint(B))

#Join A with B and B with A

print("Joining B with A ", A.union(B))
print("Joining A with B ", B.union(A))

#Finding the symmetric difference between A and B

print("The symmetric difference between A and B is: ", A.symmetric_difference(B))

#Deleting the sets completely

A.clear()
B.clear()

# printing results after clearing

print("SET A: ",A)
print("Set B:",B)

# Converting the ages to a set and compare the length of the list and the set.

age = [22, 19, 24, 25, 26, 24, 25, 24]
print("List of age:",age)

# Converting list to set
ageCompare=set(age)
print("Set of age:",ageCompare)

# Length of age

length = len(ageCompare)
print("Set length:",length)

length2 = len(age)
print("List length:",length2)

# Comparing list and set by conditions

if length == length2:
   print("Length is equal after changing list to set")
else:
   print("Length is not equal after changing list to set")

Value of C is: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is: {19, 20, 22, 24, 25, 26}
Is A subset of B:  True
Are A and B disjoint sets:  False
Joining B with A  {19, 20, 22, 24, 25, 26, 27, 28}
Joining A with B  {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between A and B is:  {27, 28}
SET A:  set()
Set B: set()
List of age: [22, 19, 24, 25, 26, 24, 25, 24]
Set of age: {19, 22, 24, 25, 26}
Set length: 5
List length: 8
Length is not equal after changing list to set

## Question 5

In [6]:
#Calculating the area of a circle and assign the value to a variable name of _area_of_circle_

radius = 30
pi = 3.14
_area_of_circle_ = pi * radius * radius
print("The area of the circle is: ", _area_of_circle_)


#Calculating the circumference of a circle and assign the value to a variable name of _circum_of_circle_

_circum_of_circle_ = 2 * pi * radius
print("The circumference of the circle is: ", _circum_of_circle_)

#Take radius as user input and calculate the area.

r = input('Enter The Radius:')
r = int(r)
area = pi * r * r
print("The area of the circle is: ", area)

The area of the circle is:  2826.0
The circumference of the circle is:  188.4
Enter The Radius:9
The area of the circle is:  254.34

## Question 6

In [7]:
# Calclating how many unique words have been used in the sentence? Using the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"

# Converting the sentence to set

SET = set(sentence.split())

print("The number of unique words in the sentence are: ", len(SET))

The number of unique words in the sentence are:  10

## Question 7

In [8]:
#Printing the output as per the question

print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

## Question 8

In [9]:
# Using the string formatting method to display the following:

radius = 10
area = 3.14 * radius ** 2

print(" " + "The area of a circle radius" + " " + str(radius) + " " +"is" + " "+ str(3.14 * radius ** 2) +" meters square.")

 The area of a circle radius 10 is 314.0 meters square.

## Question 9

In [10]:
# Writing a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students 

conversionrate = 0.453592     #conversion rate from lbs to kgs is 0.453592
x = int(input('Enter num of students'))

List=[]
i = 0
while i < x:
    List.append(int(input('Enter weight in lbs:')))
    i = i + 1
output = [conversionrate * i for i in List]

print("The list in kilograms is:",output)

Enter num of students2
Enter weight in lbs:158
Enter weight in lbs:175
The list in kilograms is: [71.667536, 79.3786]